/* add your own style rules here */
body {
  font-family: "Hevletica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: black;
  padding: 0;
  margin: 0;
  text-align: center; }

#container {
  height: 1000px; }
  #container #nav-bar #logo {
    background: url("https://cdn0.iconfinder.com/data/icons/cosmo-multimedia/40/movie_4-512.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    margin: 5px 10px;
    padding: 10px 0; }
  #container #nav-bar .flex-row {
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    background-color: #ddd; }
  #container #nav-bar .flex-col {
    border-radius: 10px;
    padding: 15px 10px;
    margin-left: 10px;
    margin-top: 10px;
    list-style: none;
    transition: background-color 300ms; }
    #container #nav-bar .flex-col a {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      color: white;
      text-decoration: none;
      transition: text-shadow 300ms; }
    #container #nav-bar .flex-col a:hover {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.65); }
  #container #product-flex {
    display: flex; }
    #container #product-flex #product-genres {
      width: 10%; }
      #container #product-flex #product-genres .form-control {
        color: #888;
        width: 80%;
        padding: 10%;
        border-width: 0; }
      #container #product-flex #product-genres #genres-list {
        margin: 0;
        padding: 0;
        overflow: hidden; }
        #container #product-flex #product-genres #genres-list .genre-list-item {
          list-style: none; }
          #container #product-flex #product-genres #genres-list .genre-list-item .genre-box {
            color: #fff;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
            background-color: #f0f0f0;
            padding: 15px;
            text-align: left;
            transition: background-color 300ms; }
          #container #product-flex #product-genres #genres-list .genre-list-item .genre-box:hover {
            cursor: pointer;
            background-color: #fff; }
    #container #product-flex #product-movies {
      width: 90%; }
      #container #product-flex #product-movies #page-nav {
        display: flex;
        justify-content: center; }
      #container #product-flex #product-movies .pagination#numPages {
        font-weight: lighter;
        cursor: default; }
      #container #product-flex #product-movies .pagination.selectable {
        font-weight: bold;
        color: #323264;
        cursor: pointer; }
      #container #product-flex #product-movies .pagination {
        margin: 10px 20px;
        color: #555;
        font-weight: normal; }
      #container #product-flex #product-movies #products {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; }
      @media (max-width: 768px) {
        #container #product-flex #product-movies .movie-card {
          width: 70%; } }
  #container .movie-card {
    width: 40%;
    max-height: 280px;
    margin: 5px;
    background-color: #eee;
    overflow: hidden;
    display: flex; }
    #container .movie-card .movie-left {
      width: 40%;
      overflow: hidden; }
    #container .movie-card .movie-img {
      width: auto;
      height: 100%; }
    #container .movie-card .movie-text {
      width: 60%;
      padding: 15px; }
    #container .movie-card .movie-title {
      max-height: 25%;
      overflow: hidden;
      text-overflow: ellipsis; }
    #container .movie-card .movie-desc {
      max-height: 44%;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis; }
    #container .movie-card .buy-row {
      max-height: 25%;
      overflow: hidden;
      display: flex;
      justify-content: center; }
    #container .movie-card .buy-col {
      font-variant: small-caps;
      color: #444;
      font-size: 0.8em;
      font-weight: bolder;
      text-shadow: 0 1px 1px white;
      margin: 10px;
      cursor: pointer;
      transition: color 400ms; }
    #container .movie-card .buy-col:hover {
      color: #888;
      margin: 10px;
      cursor: pointer; }

#table-headers {
  display: flex;
  justify-content: flex-start; }
  #table-headers #empty-head {
    width: 40%;
    margin: 5px; }
  #table-headers #format-head {
    margin: 0 2%;
    width: 15%; }
  #table-headers #quantity-head {
    margin: 0 2%;
    width: 15%; }
  #table-headers #price-head {
    margin: 0 2%;
    width: 10%; }
  #table-headers .cart-header {
    font-weight: bolder;
    padding: 15px 0;
    border-bottom: 1px solid #666; }

.cart-item {
  display: flex; }
  .cart-item .cart-format {
    padding: 2%;
    width: 15%;
    font-weight: bold; }
  .cart-item .cart-quantity {
    padding: 2%;
    width: 15%;
    display: flex;
    justify-content: center; }
    .cart-item .cart-quantity > div {
      margin: 0 5px; }
    .cart-item .cart-quantity .change-quantity {
      cursor: pointer;
      transition: color 500ms; }
    .cart-item .cart-quantity .change-quantity:hover {
      color: #555; }
  .cart-item .cart-price {
    padding: 2%;
    width: 10%;
    font-weight: lighter; }
  @media (max-width: 768px) {
    .cart-item .movie-card {
      width: 40%; } }

#total-price {
  width: 90%;
  text-align: right; }

#app-cart-count {
  color: #933;
  text-shadow: 0 0 3px white; }

/*# sourceMappingURL=main.css.map */
