body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #bbf;
    text-shadow: 0 0 2px #fff;
}

/*
    Fonts: default, big
*/

.default-font {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333;
    text-shadow: 0 0 0 rgba(0,0,0,0);
}

.big-font {
    font-size: 35px;
    color: #fff;
    text-shadow: 0 0 7px rgba(0,0,0,0.3);
}

.center {
    margin: auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.nav {
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.nav-title {
    width: 20%;
}

.nav-button {
    width: 10%;
}

.logo {
    background: url("../res/256.png");
    background-position: center;
    background-size: cover;
    width: 128px;
    margin: 0 10px;
}

.background {
    background-color: #ccc;
}

.container {
    padding: 10px;
    background-color: #fff;
}

.flex-row {
    display: flex;
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.flex-between {
    justify-content: space-between;
}

.button {
    /*width: 80px;*/
    /*height: 20px;*/
    padding: 10px;
    margin: 10px;

    color: #333;

    border-color: #333;
    border-width: 0px;
    border-style: solid;
    border-radius: 7px;

    background-color: #fff;
    transition: background-color 300ms;
}

.button:hover {
    cursor: pointer;
    background-color: #ddd;
}

.shadow-drama {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.form-style {
    padding: 10px;
    border-radius: 7px;
    border-width: 0;
    margin: 7px;
    width: 80%;
}

.pop-up {
    max-width: 175px;
}

.switch-auth {
    text-align: center;
}

/* ID SPECIFIC */

/* make the <div id="map"> element
fill the entire viewport */
#map {
    width: 100vw; /* 1vw is 1/100th of the viewport width */
    height: 100vh; /* 1vh is 1/100th of the viewport height */
}

#login-page-nav {
    z-index: -1;
}

#login-page-background {
    height: 90vh;
    overflow: hidden;
    background: url('../res/map-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#login-page-center-container {
    padding: 30vh 0;
}

#login-page-center-flex {
    width: 40%;
    overflow: hidden;
    flex-wrap: wrap;
}

#login-page-forms {
    width: 45%;
    border-right: white solid 2px;
}

#login-page-welcome-message {
    text-align: center;
    padding: 10px;
    width: 45%;
    overflow: hidden;
}
