/* add your own style rules here */
body {
    font-family: "Hevletica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: black;
    padding: 0;
    margin: 0;
    text-align: center;
}

#container {
    height: 1000px;
    #nav-bar {
        #logo {
            background: url("https://cdn0.iconfinder.com/data/icons/cosmo-multimedia/40/movie_4-512.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 35px;
            height: 35px;
            margin: 5px 10px;
            padding: 10px 0;
        }

        .flex-row {
            margin: 0;
            padding: 5px;
            display: flex;
            justify-content: flex-start;
            background-color: #ddd;
        }

        .flex-col {
            border-radius: 10px;
            padding: 15px 10px;
            margin-left: 10px;
            margin-top: 10px;
            list-style: none;
            transition: background-color 300ms;

            a {
                text-shadow: 0 0 5px rgba(0,0,0,0.2);
                color: white;
                text-decoration: none;
                transition: text-shadow 300ms;
            }
            a:hover {
                text-shadow: 0 0 5px rgba(0,0,0,0.65);
            }
        }
    }

    #product-flex {
        display: flex;
        #product-genres {
            width: 10%;
            .form-control {
                color: #888;
                width: 80%;
                padding: 10%;
                border-width: 0;
            }
            #genres-list{

                margin: 0;
                padding: 0;
                overflow: hidden;

                .genre-list-item {
                    list-style: none;
                    .genre-box {
                        color: #fff;
                        text-shadow: 0 0 5px rgba(0,0,0,0.65);
                        background-color: rgba(240,240,240,1);
                        padding: 15px;
                        text-align: left;
                        transition: background-color 300ms;
                    }
                    .genre-box:hover {
                        cursor: pointer;
                        background-color: #fff;
                    }
                }
            }
        }

        #product-movies {
            width: 90%;
            #page-nav {
                display: flex;
                justify-content: center;
            }
            .pagination#numPages {
                font-weight: lighter;
                cursor: default;
            }
            .pagination.selectable {
                font-weight: bold;
                color: rgba(50,50,100,1);
                cursor: pointer;
            }
            .pagination {
                margin: 10px 20px;
                color: #555;
                font-weight: normal;
            }
            #products {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

               
            }
            @media (max-width: 768px) {
                .movie-card {
                    width: 70%;
                }
            }
        }
    }
     .movie-card {
        width: 40%;
        max-height: 280px;
        margin: 5px;
        background-color: #eee;
        overflow: hidden;

        display: flex;

        .movie-left {
            width: 40%;
            overflow: hidden;
        }
        .movie-img {
            width: auto;
            height: 100%;
        }
        .movie-text {
            width: 60%;
            padding: 15px;
        }
        .movie-title {
            max-height: 25%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .movie-desc {
            max-height: 44%;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .buy-row {
            max-height: 25%;
            overflow: hidden;
            display: flex;
            justify-content: center;
        }
        .buy-col {
            font-variant: small-caps;
            color: #444;
            font-size: 0.8em;
            font-weight: bolder;
            text-shadow: 0 1px 1px white;
            margin: 10px;
            cursor: pointer;
            transition: color 400ms;
        }
        .buy-col:hover {
            color: #888;
            margin: 10px;
            cursor: pointer;
        }
    }

    
}

#table-headers {
    display: flex;
    justify-content: flex-start;
    $margin: 2%;
    #empty-head {
        width: 40%;
        margin: 5px;
    }
    #format-head {
        margin: 0 $margin;
        width: 15%;
    }
    #quantity-head {
        margin: 0 $margin;
        width: 15%;
    }
    #price-head {
        margin: 0 $margin;
        width: 10%;
    }
    .cart-header {
        font-weight: bolder;
        padding: 15px 0;
        border-bottom: 1px solid #666;
    }
}

.cart-item {
    display: flex;
    $padding: 2%;
    .cart-format {
        padding: $padding;
        width: 15%;
        font-weight: bold;
    }
    .cart-quantity {
        padding: $padding;
        width: 15%;
        display: flex;
        justify-content: center;

        >div {
            margin: 0 5px;
        }
        .change-quantity {
            cursor: pointer;
            transition: color 500ms;
        }
        .change-quantity:hover {
            color: #555;
        }
    }
    .cart-price {
        padding: $padding;
        width: 10%;
        font-weight: lighter;
    }
    @media (max-width: 768px) {
        .movie-card {
            width: 40%;
        }
    }
}

#total-price {
    width: 90%;
    text-align: right;
}

#app-cart-count {
    color: #933;
    text-shadow: 0 0 3px white;
    
}